html, body{
	width:100%;
	height:100%;
	background-color:green;
	padding:0;
	margin:0;
}
.page{
	display:flex;
	justify-content: center;
	background-color: whitesmoke;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}

#homeBox{
	display:flex;
	align-items:center;
	flex-direction:column;
	width:75%;
	height:500px;
	background-color:lightgrey;
	border-radius:10px;
	border-color:rgb(41, 53, 53);
	border-style:solid;
	border-width:2px;
	margin-top:40px;
}

#companyName{
	font-size:36px;
	font-family:Arial, Helvetica, sans-serif;
	margin-top:20px;
	text-align:center;
}
#slogan{
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;
	margin-top:10px;
}
#homeTitle{
	font-size:48px;
	font-family:Arial, Helvetica, sans-serif;
	margin-top:20px;
	text-align:center;
}

#homeDescription{
	margin:30px;
	width:400px;
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:justify;
}

a{
	text-decoration:none;
}

#matchButton{
	background-color: grey;
	color:whitesmoke;
	font-family: Arial;
	border-color:rgb(41, 53, 53);
	border-style:solid;
	border-width:2px;
	border-radius:5px;
	height:50px;
	Width:150px;
	font-size:36px;
	line-height:36px;
	line-height:50px;
	text-align:center;
	text-align:middle;
	transition: all 0.3s ease-in-out;
}

#matchButton:hover{
	cursor:pointer;
	transform: scale(1.2);
}

#apiLink{
	margin-top:auto;
	font-family:Arial, Helvetica, sans-serif;
	color:rgb(41, 53, 53);
	transition: all 0.3s ease-in-out;
}

#apiLink:hover{
	cursor:pointer;
	color:whitesmoke;
	cursor:pointer;
	transform: scale(1.2);
}
